.searchResultForm {
    display: flex;
}

input {
    border-radius: 6.25rem;
    font-family: 'gothamBookRegular', 'sans-serif';
    font-size: .6875rem;
    height: 1.5rem;
    line-height: 2.5rem;
    margin-right: 1rem;
    padding: .5rem;
    text-align: center;
    width: 15rem;
}

.inputContainer {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.inputContainer .searchIcon {
    position: absolute;
}

input:focus {
    box-shadow: 2px 3px 23px rgb(0 0 40% / 30%);
}

.searchButton {
    background: #5642D9;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-family: 'gothamBookRegular', 'sans-serif';
    font-weight: bold;
    margin-right: 1rem;
    padding: 0.5rem;
}

.searchIcon {
    padding: 0.35rem;
}

.inputContainer .xIcon {
    position: absolute;
    right: 8.5rem;
}

.xIcon {
    cursor: pointer;
    object-fit: contain;
}