body {
  background: white;
  box-sizing: border-box;
  color:black;
  font-family: "gothamBookRegular",
  'sans-serif';
  margin: 0;
  padding: 0;
}

/* CUSTOM FONTS */

@font-face {
  font-family: 'gothamBold';
  src: url('../../Assets/gothamBold.otf');
}

@font-face {
  font-family: 'gothamMedium';
  src: url('../../Assets/gothamMedium.otf');
}

@font-face {
  font-family: 'gothamBookRegular';
  src: url('../../Assets/gothamBookRegular.otf');
}

/* TABLET /IPADS */

@media screen and (min-width: 551px) and (max-width: 800px) {
   body,
   html {
     overflow-x: hidden;
     width: 100%;
   }
}

/* SMART PHONES/MOBILE */

@media screen and (max-width: 550px) {
  body, html {
    overflow-x: hidden;
    width: 100%;
  }
}