body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  color:black;
  font-family: "gothamBookRegular",
  'sans-serif';
}

.mainPageText {
  padding-left: 2.5rem;
  color: white;
}

.header {
  color: white;
  font-size: 2rem;
  font-family: 'gothamBold', 'sans-serif';
}

.aboutSection {
      background: #5642D9;
      width: 100%;
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.sectionContainer {
      display: flex;
      justify-content: center;
      padding: 1rem;
      margin: auto;
      align-items: center;
      width: 1200px;
      padding-top: 5%;
}

.mainSection {
  width: 215px;
  height: 270px;
  border-radius: 10px;
  display: flex;
  font-weight: bold;
  padding: 1rem;
  background: #0D0C52;
  font-size: 1.25rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  margin-left: 2rem;
}

.curiousSection {
  background-color: #530CC8;
}

.buySection {
  background-color: #FF8B8B;
}

/* .cardText {
  font-size: 2rem;
} */

@font-face {
  font-family: 'gothamBold';
  src: url('gothamBold.otf');
}

@font-face {
  font-family: 'gothamMedium';
  src: url('gothamMedium.otf');
}

@font-face {
  font-family: 'gothamBookRegular';
  src: url('gothamBookRegular.otf');
}

