body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #17205C;
  color: white;
  font-family: "gothamBookRegular",
  'sans-serif';
}

@font-face {
  font-family: 'gothamBold';
  src: url('gothamBold.otf');
}

@font-face {
  font-family: 'gothamMedium';
  src: url('gothamMedium.otf');
}

@font-face {
  font-family: 'gothamBookRegular';
  src: url('gothamBookRegular.otf');
}

