.coinDetails {
    padding: 2rem;
}

.coinDescription {
    width: 50%
}

.listItemWrapper {
    display: flex;
    flex-direction: column;
}

.listContainer {
    display: flex;
    justify-content: space-around;
}

.itemList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.coinLinks {
    color: #5642D9;
}

/* SMART PHONES/MOBILE */

@media screen and (max-width: 550px) {
    .coinDescription {
        margin: 0;
        width: 100%;
    }
    .listContainer {
        flex-direction: column;
    }
}