.cryptocurrencyContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.crytpoHeadingsLeft {
    color: black;
    display: flex;
    padding: 1rem;
}

.marketHeadingLeft {
    margin-right: 1rem;
}

.crytpoHeadingsRight {
    color: black;
    display: flex;
    padding: 1rem;
}

.marketHeadingRight {
    margin-left: 1rem;
}

.headingContainer {
    display: flex;
}

.cryptoTable {
    color: black;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid grey;
    padding: 1rem;
    text-align: left;
    line-height: 2rem;
}

.cryptoTableHeading {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

.cryptoTableContainer {
    padding: 2rem;
}

.cryptoStyling {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.searchStyling {
    display: flex;
    justify-content: space-evenly;
}

.searchIcon {
    object-fit: contain;
    margin-right: 0.5rem;
}

.xIcon{
    object-fit: contain;
}

@media screen and (max-width: 500px) {
    .cryptoStyling {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
    }

    .cryptoTableHeading {
        font-size: 1rem;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid grey;
        display: block;
    }

    table td {
        border-bottom: 1px solid grey;
        display: block;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
    }

}