@import '../../variables';

a {
    color: $white;
    text-decoration: none;
}

.mainPageText {
    color: $white;
    padding-left: 2.5rem;
}

.header {
    color: $white;
    font-size: 2rem;
    font-family: 'gothamBold', 'sans-serif';
}

.aboutSection {
    background: $majorelle-blue;
    display: flex;
    height: 20rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sectionContainer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-top: 5%;
}

.mainSection {
    background: $midnight-blue;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    height: 16.8rem;
    margin-left: 2rem;
    padding: 1rem;
    width: 13.5rem;
}

.curiousSection {
    background-color: $purple;
}

.buySection {
    background-color: $fuzzy-wuzzy;
}

/* MEDIUM DEVICES SMART PHONES/MOBILE/TABLET */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .sectionContainer {
        justify-content: space-evenly;
     }
    .mainSection {
        margin-left: 0;
        width: 12rem;
     }
    .cardText {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .sectionContainer {
        flex-direction: column;
        align-items: center;
    }

    .mainSection {
        margin-left: 0;
        margin-bottom: 10%;
    }

    .subHeader {
        font-size: 1rem;
    }

    .aboutSection {
        height: 11rem;
    }

    .header {
        margin: 0;
    }
}

/* SMART PHONES/MOBILE */

@media screen and (max-width: 375px) {
    .sectionContainer {
        flex-direction: column;
        align-items: center;
    }

    .mainSection {
        margin-left: 0;
        margin-bottom: 10%;
    }

    .subHeader {
        font-size: 1rem;
    }

    .aboutSection {
        height: 11rem;
    }

    .header {
        margin: 0;
    }

}