@import '../../variables';

.cryptoCards {
    background: $white;
    border-bottom: 1px solid $black;
    color: $black;
    display: flex;
    padding: 1rem;
}

.cardStyling {
    display: flex;
}

.cardInfo {
    margin: 0;
    margin-right: 1rem;
}

.pricingStyling {
    display: flex;
    font-size: 1.5rem;
}

.cryptoName {
    color: $black;
}

.cryptoNameCell:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dataRows:hover {
    background-color: $magnolia;
}

.favorites {
    width: 15%;
}

/* MEDIUM/LARGE TABLET */

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

/* MEDIUM DEVICES SMART PHONES/MOBILE/TABLET */

@media screen and (min-width: 376px) and (max-width: 768px) {
     .favorites {
         width: 5%;
     }
}

/* SMART PHONES/MOBILE */

@media screen and (max-width: 375px) {
    .favorites {
        width: 10%;
    }
}