.cryptoCards {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border: 1px solid black;
    height: 8rem;
    justify-content: flex-start;
    padding: 1rem;
    background: white;
    color: black;
}

.cardStyling {
    display: flex;
    justify-content: space-between;
}

.cardInfo {
    margin: 0;
}

.rank {
    border: 1px solid black;
    padding: .5rem;
    background: #F7C836;
    color: black;
    font-weight: bold;
}