.cryptoCards {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    justify-content: flex-start;
    padding: 1rem;
    background: white;
    color: black;
    border-radius: 1rem;
}

.cardStyling {
    display: flex;
    align-items: center;
}

.cardInfo {
    margin: 0;
    margin-right: 1rem;
}

.rank {
    border: 1px solid black;
    padding: .5rem;
    background: #F7C836;
    color: black;
    font-weight: bold;
}

.price {
    font-size: 1.5rem;
}


/* shadow color 444C7D */