@import '../../variables';

nav {
    align-items: center;
    background: $majorelle-blue;
    color:$white;
    display: flex;
    font-family: 'gothamBold', 'sans-serif';
    justify-content: space-between;
}

.leftNav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.rightNav {
    align-self: flex-start;
    display: flex;
    padding-right: 1rem;
}

.rightNavItems {
    margin-left: 1rem;
}

.navIcon {
    margin-bottom: 1rem;
}

@media screen and (max-width: 550px) {
    .rightNav {
        font-size: .6rem;
    }

}